.ftco-section {
  padding: 7em 0;
  position: relative;
}
.ftco-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.ftco-intro img {
  max-width: 57%;
}
.ftco-animate {
  opacity: 0;
  visibility: hidden;
}
.ftco-animate a {
color: #272727;
}
.heading-section {
  z-index: 0;
}
.heading-section h2 {
  z-index: -1;
  font-size: 60px;
  font-weight: 300;
  position: relative;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.do-list {
  margin: 0;
    margin-top: 0px;
  padding: 0;
}
.do-list li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}
.do-list li span {
  color: #d9bf77;
  font-size: 22px;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #BE1414;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #BE1414;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}

section {
  padding-bottom: 5px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
.section-header .section-title {
		font-size: 44px;
		color: #272727;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 20px;
		margin: 0 0 20px;
	}
.section-header {
      margin-bottom: 50px;
}
.section-header .section-title::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -11px;
        left: 50%;
        margin-left: -12px;
        border: 5px solid #fff;
        border-radius: 20px;
        background: #BE1414;
}
.section-header .section-title::before {
        content: "";
        position: absolute;
        width: 140px;
        bottom: 0;
        left: 50%;
        margin-left: -70px;
        height: 1px;
        background: #ebebeb;
}
#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
    background-size: auto;
  background-size: cover;
  color: #fff;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #BE1414;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #BE1414;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}

#work-process h3 {
  color: #fff;
  margin-bottom: 50;
}





    