<title> فروشگاه | مرصانا</title>

{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'partials/header2.html' %}
{% endblock %}
{% block hero%}


{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web:home' %}">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
    <div class="page-header page-header-big text-center"
        style="background-image: url('assets/images/about-header-bg.jpg')">
        <h1 class="page-title text-white">درباره ما<span class="text-white">درباره فروشگاه ما</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <h2 class="title">دید ما</h2><!-- End .title -->
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                    نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم! لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>
            </div><!-- End .col-lg-6 -->

            <div class="col-lg-6">
                <h2 class="title">ماموریت ما</h2><!-- End .title -->
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                    نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم! لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="mb-5"></div><!-- End .mb-4 -->
    </div><!-- End .container -->

    <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <h2 class="title">ما که هستیم</h2><!-- End .title -->
                    <p class="lead text-primary mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                        <br>لورم ایپسوم متن ساختگی با تولید سادگی</p><!-- End .lead text-primary -->
                    <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم. </p>

                    <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2 float-right">
                        <span>مشاهده دیگر خبرها</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div><!-- End .col-lg-5 -->

                <div class="col-lg-6 offset-lg-1">
                    <div class="about-images">
                        <img src="assets/images/about/img-1.jpg" alt="" class="about-img-front">
                        <img src="assets/images/about/img-2.jpg" alt="" class="about-img-back">
                    </div><!-- End .about-images -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light-2 pt-6 pb-6 -->

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="brands-text">
                    <h2 class="title">برند های معروفی که با ما در حال همکاری هستند.</h2>
                    <!-- End .title -->
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                </div><!-- End .brands-text -->
            </div><!-- End .col-lg-5 -->
            <div class="col-lg-7">
                <div class="brands-display">
                    <div class="row justify-content-center">
                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/1.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/2.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/3.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/4.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/5.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/6.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/7.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/8.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-6 col-sm-4">
                            <a href="#" class="brand">
                                <img src="assets/images/brands/9.png" alt="نام برند">
                            </a>
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->
                </div><!-- End .brands-display -->
            </div><!-- End .col-lg-7 -->
        </div><!-- End .row -->

        <hr class="mt-4 mb-6">

        <h2 class="title text-center mb-4">آشنایی با تیم ما</h2><!-- End .title text-center mb-2 -->

        <div class="row">
            <div class="col-md-4">
                <div class="member member-anim text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/member-1.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="member-overlay-content">
                                <h3 class="member-title">نرگس رسولی<span>جستجو و سئو</span></h3>
                                <!-- End .member-title -->
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم</p>
                                <div class="social-icons social-icons-simple">
                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .member-overlay-content -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">نرگس رسولی<span>جستجو و سئو</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="member member-anim text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/member-2.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="member-overlay-content">
                                <h3 class="member-title">رضا کریمی<span>مدیریت فروش</span>
                                </h3><!-- End .member-title -->
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم</p>
                                <div class="social-icons social-icons-simple">
                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .member-overlay-content -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">رضا کریمی<span>مدیریت فروش</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="member member-anim text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/member-3.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="member-overlay-content">
                                <h3 class="member-title">الهام افشار<span>مدیریت محصولات</span></h3>
                                <!-- End .member-title -->
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم</p>
                                <div class="social-icons social-icons-simple">
                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .member-overlay-content -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">الهام افشار<span>مدیریت محصولات</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-2"></div><!-- End .mb-2 -->

    <div class="about-testimonials bg-light-2 pt-6 pb-6">
        <div class="container">
            <h2 class="title text-center mb-3">نظرات مشتری های فروشگاه</h2>
            <!-- End .title text-center -->

            <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "rtl": true, 
                "responsive": {
                        "1200": {
                            "nav": true
                        }
                    }
                }'>
                <blockquote class="testimonial text-center">
                    <img src="assets/images/testimonials/user-1.jpg" alt="user">
                    <p>“ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br>لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم ،
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم ”</p>
                    <cite>
                        مشتری 1
                        <span>مشتری</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial text-center">
                    <img src="assets/images/testimonials/user-2.jpg" alt="user">
                    <p>“ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم ، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم! لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم. ”</p>

                    <cite>
                        مشتری 2
                        <span>مشتری</span>
                    </cite>
                </blockquote><!-- End .testimonial -->
            </div><!-- End .testimonials-slider owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .bg-light-2 pt-5 pb-6 -->
</div><!-- End .page-content -->
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}