<title>جزئیات محصول | مرصانا</title>

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block header %}
{% include 'partials/header.html' %}
{% endblock %}
{% block hero%}

{% endblock %}
{% block content %}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
	<div class="container d-flex align-items-center">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'web:home' %}">خانه</a></li>
			<li class="breadcrumb-item"><a href="{% url 'product:products' %}">محصولات</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
		</ol>


	</div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
	<div class="container">
		<div class="product-details-top">
			<div class="row">
				<div class="col-md-6">
					<div class="product-gallery product-gallery-vertical">
						<div class="row">
							<figure class="product-main-image">
								<img id="product-zoom" src="{{product.image.url}}"
									data-zoom-image="{% static 'images/products/single/1-big.jpg' %}"
									style="width: 80%;" alt="تصویر محصول">

								<a href="#" id="btn-product-gallery" class="btn-product-gallery">
									<i class="icon-arrows"></i>
								</a>
							</figure><!-- End .product-main-image -->

							<div id="product-zoom-gallery" class="product-image-gallery">
								<!-- The grid: four columns -->

								{% for image in images %}
								<a class="product-gallery-item " data-image="{{image.img.url}}"
									data-zoom-image="{{image.img.url}}">
									<img src="{{image.img.url}}" alt="توضیحات تصویر">
								</a>
								{% endfor %}

							</div><!-- End .product-image-gallery -->
						</div><!-- End .row -->
					</div><!-- End .product-gallery -->
				</div><!-- End .col-md-6 -->
				<form action="{% url 'cart:ordercontrol' product.code %}" method="post">
					{% csrf_token %}
					<div class="col-md-6">
						<div class="product-details">
							<h1 class="product-title">{{ product.title }}</h1>
							<!-- End .product-title -->

							<div class="ratings-container">
								<div class="ratings">
									<div class="ratings-val" style="width: 40%;"></div>
									<!-- End .ratings-val -->
								</div><!-- End .ratings -->
								<a class="ratings-text" href="#product-review-link" id="review-link">(
									{{product.count_sell}} فروش
									)</a>
							</div><!-- End .rating-container -->

							<div class="product-price">
								{% if product.Sale %}
								<div style="margin: 15px"><s>{{ product.price |intcomma }}تومان</s></div>
								<div>{{product.sale_price |intcomma}} تومان</div>
								{% else %}
								{{ product.price | intcomma }}
								{% endif %}

							</div><!-- End .product-price -->

							{# <div class="product-content">#}
								{# <p>#}
									{# {{product.about}}#}
									{# </p>#}
								{# </div><!-- End .product-content -->#}

							<div class="details-filter-row details-row-size">
								<label>رنگ : </label>

								<div class="product-nav product-nav-thumbs">
									{{ product.color }}

								</div>
								<!-- End .product-nav -->
							</div><!-- End .details-filter-row -->
							<div class="details-filter-row details-row-size ">
								 <form action="{% url 'cart:ordercontrol' product.code %}" method="post">
									{% csrf_token %}

                                     {% if product.variety1price %}
                                     <div class="form-check" style="padding-left: 3.2rem;">
										<input class="form-check-input" type="radio" checked value="{{ product.variety1 }}" name="variety"
											id="flexRadioDefault1">
										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault1">
											{{product.variety1}}
										</label>
									</div>
                                     {% endif %}
                                   {% if product.variety2price %}
                                     <div class="form-check" style="padding-left: 3.2rem;">
										<input class="form-check-input" type="radio" value="{{ product.variety2 }}" name="variety"
											id="flexRadioDefault1">
										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault1">
											{{product.variety2}}
										</label>
									</div>
                                     {% endif %}
                                   {% if product.variety3price %}
                                     <div class="form-check" style="padding-left: 3.2rem;">
										<input class="form-check-input" type="radio" value="{{ product.variety3 }}" name="variety"
											id="flexRadioDefault1">
										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault1">
											{{ product.variety3 }}
										</label>
									</div>
                                     {% endif %}
                                     {% if product.variety4price %}
                                        <div class="form-check" style="padding-left: 3.2rem;">
										<input class="form-check-input" type="radio" value="{{ product.variety4 }}" name="variety"
											id="flexRadioDefault1">
										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault1">
											{{ product.variety4 }}
										</label>
									    </div>
                                     {% endif %}
                                     {% if product.variety5price %}
                                        <div class="form-check" style="padding-left: 3.2rem;">
										<input class="form-check-input" type="radio" value="{{ product.variety5 }}" name="variety"
											id="flexRadioDefault1">
										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault1">
											{{ product.variety5 }}
										</label>
									    </div>
                                     {% endif %}

{#									<div class="form-check" style="padding-left: 3.2rem;">#}
{#										<input class="form-check-input" type="radio" name="variety"#}
{#											id="flexRadioDefault2" value="2" >#}
{#										<label style="width: 20px;" class="form-check-label" for="flexRadioDefault2">#}
{#											30#}
{#										</label>#}
{#									</div>#}
                                 </form>
									<!-- <button type="submit">انتخاب</button> -->
								<!-- </form> -->
								<!-- End .product-nav -->
							</div>
							<!-- <div class="details-filter-row details-row-size">
								<label for="size">سایز : </label>
								<div class="select-custom">
									<select id="size" class="form-control" required>
										{# <option selected="selected">سایز را انتخاب کنید</option>#}
										{% if product.variety1 %}
										<option value="{{ product.variety1 }}" name="variety">{{ product.variety1 }}
										</option>
										{% endif %}
										{% if product.variety2 %}
										<option value="{{ product.variety2 }}" name="variety">{{ product.variety2 }}
										</option>
										{% endif %}
										{% if product.variety3 %}
										<option value="{{ product.variety3 }}" name="variety">{{ product.variety3 }}
										</option>
										{% endif %}
										{% if product.variety4 %}
										<option value="{{ product.variety4 }}" name="variety">{{ product.variety4 }}
										</option>
										{% endif %}
										{% if product.variety5 %}
										<option value="{{ product.variety5 }}" name="variety">{{ product.variety5 }}
										</option>
										{% endif %}

									</select>
								</div>

							</div> -->
							<!-- End .details-filter-row -->

							<div class="details-filter-row details-row-size">
								<label for="qty">تعداد : </label>
								<div class="product-details-quantity">
									<input type="number" id="qty" class="form-control product-quantity" value="1"
										min="1" max="10" step="1" data-decimals="0" name="qty" required>
								</div><!-- End .product-details-quantity -->
							</div><!-- End .details-filter-row -->

							<div class="product-details-action">
								<button type="submit" class="btn-product btn-cart"><span>افزودن به سبد
										خرید</span></button>
								<!-- <input type="hidden" value="{{product.code}}" id="product-code">
							<button id="addtocart"  class="btn-product btn-cart"><span>افزودن به سبد خرید</span></button> -->
				</form>
				<div class="details-action-wrapper">
					<a href="{% url 'account:favorits' product.code %}" class="btn-product btn-wishlist"
						title="لیست علاقه مندی"><span>افزودن
							به
							علاقه مندی</span></a>

				</div><!-- End .details-action-wrapper -->
			</div><!-- End .product-details-action -->

			<div class="product-details-footer">
				<div class="product-details-tab">
					<ul class="nav nav-pills justify-content-center" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
								role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" id="product-shipping-link" data-toggle="tab"
								href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
								aria-selected="false">ارسال و بازگشت</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
							aria-labelledby="product-desc-link">
							<div class="product-desc-content">
								<h3>اطلاعات محصول</h3>
								<p>{{ product.about }}</p>



							</div><!-- End .product-desc-content -->
						</div><!-- .End .tab-pane -->
						<div class="tab-pane fade" id="product-info-tab" role="tabpanel"
							aria-labelledby="product-info-link">
							<div class="product-desc-content">
								<h3>اطلاعات</h3>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن </p>

							</div><!-- End .product-desc-content -->
						</div><!-- .End .tab-pane -->
						<div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
							aria-labelledby="product-shipping-link">
							<div class="product-desc-content">
								<h3>ارسال و بازگشت</h3>
								<p></a>
								</p>
							</div><!-- End .product-desc-content -->
						</div><!-- .End .tab-pane -->



					</div><!-- End .col-auto -->
				</div><!-- End .row -->
			</div><!-- End .review -->
		</div><!-- End .نظر -->
	</div><!-- .End .tab-pane -->
</div><!-- End .tab-content -->
</div><!-- End .product-details-tab -->


<!-- End .product-details-tab -->



</div><!-- End .container -->
</div><!-- End .page-content -->
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}