<title>جزئیات محصول | مرصانا</title>

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}
{% block hero%}

    {% endblock %}
{% block content %}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
	<div class="container d-flex align-items-center">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'web:home' %}">خانه</a></li>
			<li class="breadcrumb-item"><a href="{% url 'product:products' %}">محصولات</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
		</ol>

		
	</div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
	<div class="container">
		<div class="product-details-top">
			<div class="row">
				<div class="col-md-6">
					<div class="product-gallery product-gallery-vertical">
						<div class="row">
							<figure class="product-main-image">
								<img id="product-zoom" src="{{product.image.url}}"
									data-zoom-image="assets/images/products/single/1-big.jpg"
									alt="تصویر محصول">

								<a href="#" id="btn-product-gallery" class="btn-product-gallery">
									<i class="icon-arrows"></i>
								</a>
							</figure><!-- End .product-main-image -->

							<div id="product-zoom-gallery" class="product-image-gallery">
                                {% for image in images %}
								<a class="product-gallery-item active" href=""
									data-image=""
									data-zoom-image="">
									<img src="{{image.img.url}}"
										alt="توضیحات تصویر">
								</a>
                                {% endfor %}

{#								<a class="product-gallery-item" href="#"#}
{#									data-image="assets/images/products/single/2.jpg"#}
{#									data-zoom-image="assets/images/products/single/2-big.jpg">#}
{#									<img src="assets/images/products/single/2-small.jpg"#}
{#										alt="توضیحات تصویر">#}
{#								</a>#}
{##}
{#								<a class="product-gallery-item" href="#"#}
{#									data-image="assets/images/products/single/3.jpg"#}
{#									data-zoom-image="assets/images/products/single/3-big.jpg">#}
{#									<img src="assets/images/products/single/3-small.jpg"#}
{#										alt="توضیحات تصویر">#}
{#								</a>#}
{##}
{#								<a class="product-gallery-item" href="#"#}
{#									data-image="assets/images/products/single/4.jpg"#}
{#									data-zoom-image="assets/images/products/single/4-big.jpg">#}
{#									<img src="assets/images/products/single/4-small.jpg" alt="product back">#}
{#								</a>#}

							</div><!-- End .product-image-gallery -->
						</div><!-- End .row -->
					</div><!-- End .product-gallery -->
				</div><!-- End .col-md-6 -->

				<div class="col-md-6">
					<div class="product-details">
						<h1 class="product-title">{{ product.title }}</h1>
						<!-- End .product-title -->

						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 40%;"></div>
								<!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<a class="ratings-text" href="#product-review-link" id="review-link">( {{product.count_sell}}  فروش
								)</a>
						</div><!-- End .rating-container -->

						<div class="product-price">
							{{product.price |intcomma}} تومان
							
						</div><!-- End .product-price -->

						<div class="product-content">
							<p>
                                {{product.about}}
							</p>
						</div><!-- End .product-content -->

						<div class="details-filter-row details-row-size">
							<label>رنگ : </label>

							<div class="product-nav product-nav-thumbs">
                                {{ product.color }}
{#								<a href="#" class="active">#}
{#									<img src="assets/images/products/single/1-thumb.jpg" alt="product desc">#}
{#								</a>#}
{#								<a href="#">#}
{#									<img src="assets/images/products/single/2-thumb.jpg" alt="product desc">#}
{#								</a>#}
							</div><!-- End .product-nav -->
						</div><!-- End .details-filter-row -->

						<div class="details-filter-row details-row-size">
							<label for="size">سایز : </label>
							<div class="select-custom">
								<select name="size" id="size" class="form-control">
									<option value="#" selected="selected">سایز را انتخاب کنید</option>
                                    {%  if product.Capacity1 %}
									<option value="s">{{ product.Capacity1 }}</option>
                                    {% elif product.Capacity2 %}
									<option value="s">{{ product.Capacity2 }}</option>
                                    {% elif product.Capacity3 %}
									<option value="s">{{ product.Capacity3 }}</option>
                                    {% elif product.Capacity4 %}
									<option value="s">{{ product.Capacity4 }}</option>
                                    {% elif product.Capacity5 %}
									<option value="s">{{ product.Capacity5 }}</option>
                                    {% endif %}
								</select>
							</div><!-- End .select-custom -->

							<a href="#" class="size-guide"><i class="icon-th-list"></i>راهنمای اندازه</a>
						</div><!-- End .details-filter-row -->

						<div class="details-filter-row details-row-size">
							<label for="qty">تعداد : </label>
							<div class="product-details-quantity">
								<input type="number" id="qty" class="form-control product-quantity" value="1" min="1"
									max="10" step="1" data-decimals="0" name="qty" required>
							</div><!-- End .product-details-quantity -->
						</div><!-- End .details-filter-row -->

						<div class="product-details-action">
							<a href="{% url 'cart:ordercontrol' product.code %}" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
							<!-- <input type="hidden" value="{{product.code}}" id="product-code">
							<button id="addtocart"  class="btn-product btn-cart"><span>افزودن به سبد خرید</span></button> -->

							<div class="details-action-wrapper">
								<a href="{% url 'account:favorits' product.code %}" class="btn-product btn-wishlist"
									title="لیست علاقه مندی"><span>افزودن
										به
										علاقه مندی</span></a>
								
							</div><!-- End .details-action-wrapper -->
						</div><!-- End .product-details-action -->

						<div class="product-details-footer">
							<div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                    href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                    aria-selected="true">توضیحات</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                    href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                    aria-selected="false">ارسال و بازگشت</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>اطلاعات محصول</h3>
                                    <p>{{ product.about  }}</p>
{#                                    <ul>#}
{#                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </li>#}
{#                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی.</li>#}
{#                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم</li>#}
{#                                    </ul>#}

{#                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید#}
{#                                        سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن#}
{#                                        ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم#}
{#                                        ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی#}
{#                                        نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>#}
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                                aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>اطلاعات</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن  </p>

                                    <h3>اطلاعات بیشتر</h3>
                                    <ul>
                                        <li>لورم ایپسوم متن ساختگی</li>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                        <li>لورم ایپسوم</li>
                                        <li>لورم ایپسوم متن ساختگی </li>
                                        <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                        <li> ارتفاع: 31سانتی متر; عرض: 32سانتی متر; عمق: 12سانتی متر</li>
                                    </ul>

                                    <h3>سایز</h3>
                                    <p>تک سایز</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>ارسال و بازگشت</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                        ساختگی با تولید سادگی نامفهوم<br>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                                        ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</a>
                                    </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->



                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .نظر -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

		
		<!-- End .product-details-tab -->


	
	</div><!-- End .container -->
</div><!-- End .page-content -->
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}