<title>خانه | مرصانا</title>

{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}
{% block hero %}
    {% include 'partials/hero.html' %}
{% endblock %}
{% block content %}
<section class="ftco-section ftco-intro" style="background-color: antiquewhite;">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <img src="{% static 'img/products/DSC_8815.png' %}" alt="">
            </div>
            <div class="col-md-8">
                <div class="heading-section ftco-animate">
                    <h4 class="mb-4">ادکلن الکسیر دیور ۲۰۲۲</h4>
                </div>
                <p class="ftco-animate">بهترین پارفیم سال به انتخاب مجله WP</p>
                <ul class="mt-5 do-list">
                    <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>روزانه و کژوال, قرارهای دوستانه, قرارهای عاشقانه
                    </a></li>
                    <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>سیب, گل برف, گل صدتومانی, گل یاس, یاس بنفش</a></li>
                    <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>گلی میوه ای</a></li>

                </ul>
                <button class="site-btn sb-white">افزودن به سبد  </button>
            </div>
        
        </div>
    </div>
</section>


{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}