<title> فروشگاه | مرصانا</title>

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block header %}
{% include 'partials/header.html' %}
{% endblock %}
{% block hero%}


{% endblock %}
{% block content %}



{#<div class="page-header text-center" style="background-image: url('static/images/page-header-bg.jpg')">#}
	{# <div class="container">#}
		{# <h1 class="page-title">3 ستونه<span>فروشگاه</span></h1>#}
		{# </div><!-- End .container -->#}
	{#</div><!-- End .page-header -->#}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'web:home' %}">خانه</a></li>
			<li class="breadcrumb-item"><a href="{% url 'product:products' %}">فروشگاه</a></li>
			<li class="breadcrumb-item active" aria-current="page">محصولات</li>
		</ol>
	</div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				
				<!-- End .toolbox -->

				<div class="products mb-3" id="filterProducts">
					<p class="ajaxLoader">در حال بارگذاری</p>
					<div class="row ">
						{% for product in products %}
						<div class="col-6 col-md-4 col-lg-4">
							<div class="product product-7 text-center">
								<figure class="product-media">
									{% if product.Sale %}
									<span class="product-label label-new">تخفیف امروز</span>
									{% endif %}
									<a href="{% url 'product:product' product.id %}">
										<img src="{{product.image.url}}" href="" alt="تصویر محصول"
											class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="{% url 'account:favorits' product.code %}  "
											class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
												به لیست علاقه مندی</span></a>

									</div><!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="{% url 'cart:ordercontrol'  product.code %}"
											class="btn-product btn-cart"><span>افزودن به
												سبد خرید</span></a>
									</div><!-- End .product-action -->
								</figure><!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat text-center">
										<a href="{% url 'product:product' product.id %}">
											{% if product.gender %}
											زنانه
											{% else %}
											مردانه
											{% endif %}
										</a>
									</div><!-- End .product-cat -->
									<h3 class="product-title text-center"><a
											href="{% url 'product:product' product.id %}">{{ product.title }}
										</a></h3><!-- End .product-title -->
									{% if product.Sale %}
									<div class="product-price">
										<span><s>{{ product.price |intcomma }}</s></span> <span
											style="padding-right: 10%">{{ product.sale_price | intcomma }} تومان</span>
									</div><!-- End .product-price -->
									{% else %}
									<div class="product-price">
										تومان {{ product.price |intcomma }}
									</div><!-- End .product-price -->
									{% endif %}
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 40%;"></div>
											<!-- End .ratings-val -->
										</div><!-- End .ratings -->
{#										<span class="ratings-text">{{ product.count_sell }}</span>#}
									</div><!-- End .rating-container -->

									<!-- product-nav -->
									<!-- End .product-nav -->
								</div><!-- End .product-body -->
							</div><!-- End .product -->
						</div><!-- End .col-sm-6 col-lg-4 -->

						{% endfor %}
					</div><!-- End .row -->
				</div><!-- End .products -->

				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						{% if products.has_previous %}
						<li class="page-item">
							<a class="page-link page-link-prev" href="?page={{products.previous_page_number}}"
								aria-label="Previous" tabindex="-1" aria-disabled="true">
								<span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
							</a>
						</li>
						{% endif %}
						{% for page in products.paginator.page_range %}
						<li class="page-item active" aria-current="page"><a class="page-link"
								href="?page={{products.number}}">{{page}}</a>
						</li>
						<!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li> -->
						{% endfor %}
						<li class="page-item-total">از {{products.paginator.num_pages}}</li>
						{% if products.has_next %}
						<li class="page-item">
							<a class="page-link page-link-next" href="?page={{products.next_page_number}}"
								aria-label="Next">
								بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
							</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div><!-- End .col-lg-9 -->
			<aside class="col-lg-3 order-lg-first">
				<div class="sidebar sidebar-shop">
					<div class="widget widget-clean">
						<label>فیلترها : </label>
						<!-- <a href="#" class="sidebar-filter-clear">پاک کردن همه</a> -->
					</div><!-- End .widget widget-clean -->

					<div class="widget widget-collapsible">
						<h3 class="widget-title">
							<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
								aria-controls="widget-1">
								دسته بندی
							</a>
						</h3><!-- End .widget-title -->

						<div class="collapse show" id="widget-1">
							<div class="widget-body">
								<div class="filter-items filter-items-count">
									{% for category in categorys %}
									<div class="filter-item">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" data-filter="category" value="{{category.Category}}"
												class="custom-control-input filter-checkbox"
												id="cat-{{category.Category}}">
											<label class="custom-control-label"
												for="cat-{{category.Category}}">{{category.Category}}</label>
										</div><!-- End .custom-checkbox -->
										{% comment %} <span class="item-count">3</span> {% endcomment %}
									</div><!-- End .filter-item -->
									{% endfor %}



								</div><!-- End .filter-items -->
							</div><!-- End .widget-body -->
						</div><!-- End .collapse -->
					</div><!-- End .widget -->
					<div class="widget widget-collapsible">
						<h3 class="widget-title">
							<a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
								aria-controls="widget-2">
								جنسیت
							</a>
						</h3><!-- End .widget-title -->

						<div class="collapse show" id="widget-2">
							<div class="widget-body">
								<div class="filter-items">
									<div class="filter-item">
										<div class="custom-control custom-checkbox">
											<input value="True" type="checkbox" data-filter="gender"
												class="custom-control-input filter-checkbox" id="size-1">
											<label class="custom-control-label" for="size-1">زنانه</label>
										</div><!-- End .custom-checkbox -->
									</div><!-- End .filter-item -->
									<div class="filter-item">
										<div class="custom-control custom-checkbox">
											<input value="False" type="checkbox" data-filter="gender"
												class="custom-control-input filter-checkbox" id="size-2">
											<label class="custom-control-label" for="size-2">مردانه</label>
										</div><!-- End .custom-checkbox -->
									</div><!-- End .filter-item -->

								</div><!-- End .filter-items -->
							</div><!-- End .widget-body -->
						</div><!-- End .collapse -->
					</div><!-- End .widget -->
					<div class="widget widget-collapsible">
						<h3 class="widget-title">
							<a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
								aria-controls="widget-4">
								برند
							</a>
						</h3><!-- End .widget-title -->

						<div class="collapse show" id="widget-4">
							<div class="widget-body">
								<div class="filter-items">
									{% for brand in brands %}
									<div class="filter-item">
										<div class="custom-control custom-checkbox">
											<input data-filter="brand" type="checkbox"
												class="custom-control-input filter-checkbox" id="brand-{{brand.Brand}}"
												value="{{brand.Brand}}">
											<label class="custom-control-label" for="brand-{{brand.Brand}}">
												{{brand.Brand}}</label>
										</div><!-- End .custom-checkbox -->
									</div><!-- End .filter-item -->
									{% endfor %}




								</div><!-- End .filter-items -->
							</div><!-- End .widget-body -->
						</div><!-- End .collapse -->
					</div><!-- End .widget -->




				</div><!-- End .widget -->
		</div><!-- End .sidebar sidebar-shop -->
		</aside><!-- End .col-lg-3 -->
	</div><!-- End .row -->
</div><!-- End .container -->
</div><!-- End .page-content -->
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}